body{
  background-color: #000214;
}


  
  .header {

    display: flex;
    justify-content: center;

    background-image:linear-gradient(rgba(53, 43, 47, 0.849),rgba(20, 18, 22, 0.726));
    width: 100%;
    height: 50px;
  }
  .link{

    all: unset;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: 900;
  }
 
  
  
  
  #codex{
  
    color: #82fd51;
    padding: 12px;
    text-align: center;

    font-family: monospace;
  font-weight:bolder;
  left: 100px;
    justify-content: center;
   
  }
  


  

  

 

 
  .cdx{
    font-family: 'Times New Roman';
    font-size: xx-large;
    font-style: normal;
    text-align: center;
    align-items: center;
    background-color: rgba(1, 12, 22, 0.541);
    color: rgb(185, 247, 91);
  }
  

  
  .logo {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: flex;
  }
  

  
  
  
  .navbar {
  
    display: flex;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;

   
 background-color: #0c0c0c;
    font-weight: 700;
    justify-content: center;
  

  }
 
  

  

  





  .latestupdate{
    all: unset;
    background-color: rgb(17, 16, 16);
    color:#82fd51;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
   
   
  }
.latestupdate:hover{
background-color: rgb(0, 0, 0);
    color:#51f111; 
   
}

.dashboard:hover{
background-color: rgb(0, 0, 0);
    color:#51f111; 
   
}
.dashboard{
     all: unset;
     margin: 10px;
    background-color: rgb(17, 16, 16);
    color:#82fd51;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}


.details{
    all: unset;
     margin: 10px;
    background-color: rgb(17, 16, 16);
    color:#82fd51;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}
.aboutus{
  background-color: #000214;
  color: white;
  font-family: Geneva ;
  font-size: x-large;
  font-weight: bold;
    word-spacing: 10px;
}

.details:hover{
background-color: rgb(0, 0, 0);
    color:#51f111; 
   
}
  .mainfoooter{
    background-color:#2c000d ;
    color: rgb(211, 137, 0);
    height: 600px;
    width: 100%;

  }
  .formore{
    display: flex;
    justify-content: center;
    font-family: Cochin;
  }
  .query{
    display: flex;
    justify-content: center;
    align-items: center;
margin-bottom: 40px;
  }
.name{

  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.email{
    display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.urqu{
   display: flex;
  justify-content: center;
margin-bottom: 10px;
   
}
.nin{
  all: unset;
  border: #000214;
  background-color: #000214;
  color: white;
  border-radius: 20px;
  padding: 6px;
  width: 400px;
 margin-left: 20px;
 text-align: start;
}
.qin{
    all: unset;
  border: #000214;
  background-color: #000214;
  color: white;
  border-radius: 20px;
  padding: 6px;
 margin-left: 20px;
 height: 100px;
 width: 500px;
 text-align: start;
}
.ein{
      all: unset;
      width: 400px;
  border: #000214;
  background-color: #000214;
  color: white;
  border-radius: 20px;
  padding: 6px;
 margin-left: 20px;
 text-align: start;
}
.submitedq{
display: flex;
justify-content: center;
}

.sumbitbtn{
  all: unset;
  border: #51f111;
  background:#8af361;
  height: 50px;
  width: 100px;
  text-align: center;
  color: black;
  font-size: x-large;
  border-radius: 20px;
font-weight: 700;
}
.sumbitbtn:hover{
    background:#00fa0c;
}