.inputs{
    font-family: Georgia, ;
    font-size: x-large;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}
Link{
    all: unset;
    border: 4px soild black  ;
    border-radius: 20px ;
    text-align: center;
    align-items: center;
}

input:hover{
    background-color: bisque;

}
.main{
background-image: linear-gradient(rgb(252, 110, 176),rgb(250, 60, 101));
}