
Link{
    all: unset;
    border: 4px soild black  ;
    border-radius: 20px ;
    text-align: center;
    align-items: center;
}

.main{
background-image: linear-gradient(rgb(252, 110, 176),rgb(250, 60, 101));
}